/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# backup controller
app/Http/Controllers/*_old.php
app/Http/Controllers/*_15102025.php
app/Http/Controllers/*_22102025.php

# sql dump
*.sql

# archives
*.zip

# server specific
public/.well-known/
public/test.php

# accidental files
ystemctl status php8.1-fpm
